services:
  server:
    build:
      context: .
      dockerfile: apps/server/Dockerfile
    env_file:
      - apps/server/.env.development
    ports:
      - '8001:8001'
    restart: unless-stopped

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    env_file:
      - apps/web/.env.development
    ports:
      - '3000:3000'
    restart: unless-stopped
