name: CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  build:
    name: Build and Lint
    timeout-minutes: 15
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Quality Check
        run: bun run turbo run lint typecheck

      - name: Build
        env:
          NEXT_PUBLIC_API_URL: ${{ secrets.NEXT_PUBLIC_API_URL != '' && secrets.NEXT_PUBLIC_API_URL || 'http://localhost:8001/api/v1' }}
          NEXT_PUBLIC_SITE_URL: ${{ secrets.NEXT_PUBLIC_SITE_URL != '' && secrets.NEXT_PUBLIC_SITE_URL || 'http://localhost:3000' }}
          PORT: ${{ secrets.PORT != '' && secrets.PORT || '8001' }}
          API_PREFIX: ${{ secrets.API_PREFIX != '' && secrets.API_PREFIX || '/api/v1' }}
          LEETCODE_BASE_URL: ${{ secrets.LEETCODE_BASE_URL != '' && secrets.LEETCODE_BASE_URL || 'https://leetcode.com/graphql' }}
        run: bun run turbo run build
